 /* Main settings */
*{
	margin:0px;
	padding:0px;
}

.boldWhite{
	color:#BBBBBB;
	font-weight:bold;
}

/* Main info window */
.infoDiv{
	font-family:Arial;
	font-size:12px;
	background:url("css_graphics/info-bg.png") repeat;
	padding:14px;
	padding-top:8px;
	padding-bottom:8px;
	line-height:18px;
	border-radius:16px 16px 16px 16px;
	text-align:justify;
	color:#888888;
}

.infoDiv a:link {color:#BBBBBB;}   
.infoDiv a:visited {color:#BBBBBB;}
.infoDiv a:hover {color:#2696ff;}
.infoDiv a:active {color:#BBBBBB;}

.largeLabel{
	font-family:myFont, Arial;
	font-size:14px;
	color:#FFFFFF;
	margin-top:5px;
	margin-bottom:5px;
}

.leftImage{
	float:left;
	margin-right:10px;
	margin-top:4px;
}

.separator{
	clear:both;
	height:1px;
	background-color:#666666;
	margin-top:15px;
	margin-bottom:15px;
}

.columns p{
	float:left;
	margin:0;
	padding:0;
	width:30%;
	margin-bottom:15px;
}

div  .columnsFirstParagraph{
	margin-right:5%;
}

div .columnsLastParagraph{
	float:right;
}

.columnsSeparator{
	clear:both;
	height:1px;
	background-color:#666666;
	margin-top:15px;
	margin-bottom:15px;
}

.rightImage{
	float:right;
	margin-left:10px;
	margin-top:4px;
}

.youtubeVideo{
	float:left;
	width:60%;
	height:306px;
	margin-right:10px;
	margin-top:5px;
	border-style:solid;
	border-width:2px;
	border-color:#727272;
}

.lastParagraph{
	margin-bottom:5px;
}

/* Marker tool tip windows*/
.markerToolTipInfoDiv{
	font-family:Arial;
	font-size:12px;
	text-align:justify;
	background-color:#4c4c4c;
	padding:8px;
	line-height:18px;
	border-radius:16px 16px 16px 16px;
	border-style:solid;
	border-width:1px;
	border-color:#727272;
	color:#a2a3a3;
}

.markerToolTipInfoDiv a:link {color:#BBBBBB;}   
.markerToolTipInfoDiv a:visited {color:#BBBBBB;}
.markerToolTipInfoDiv a:hover {color:#2696ff;}
.markerToolTipInfoDiv a:active {color:#BBBBBB;}

.imgHd180{
	width:248px;
    height:150px;
}

.youtubeVideo2{
	width:99%;
	height:180px;
	margin-left:-1px;
	border-style:solid;
	border-width:2px;
	border-color:#727272;
}

/* Media Queries */
@media screen and (max-width: 480px) {

	.youtubeVideo{
		width:100%;
		clear:both;
	}
	
	.lastParagraph{
		clear:both;
		margin-bottom:10px;
		padding-top:10px;
	}
	
	.columns, .columnsSeparator{
		display:none;
	}

	
}
