$darkgrey: #56565a;
$blue: #00a1dc;
$beige: #ede9e3;
$red: #eb1c2d;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

html {
  width: 1920px;
  height: 1080px;
}
h1{
  color: $darkgrey;
}
body {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
 /* background-color: $beige;*/
  color: $darkgrey;
  background: #fff;
}

#app {
  height: 100%;
}

#menu {
  width: 3%;
  float: right;
  a {
    &.active {
      >div {
        background-color: $blue;
      }
    }
    >div {
      position: absolute;
      height: 49.5%;
      width: 3%;
      color: white;
      font-size: 34px;
      line-height: 1.8;
      text-align: center;
      background-color: $darkgrey;
    }
  }
  .topmenu,
  .bottommenu {
    width: 3%;
    right: 0%;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-weight: bold;
    letter-spacing: 1px;
  }
  .topmenu {
    top: 0%;
  }
  .bottommenu {
    bottom: 0%;
  }
}

#content {
  width: 97%;
  height: 100%;
  float: left;
}

.btn {
  @include border-radius(0px);
  font-weight: bold;
  border: none;
  a{
    color: #fff;
  }
  &.btn-blue{
    background-color: $blue;
  }
  &.btn-grey{
    background-color: $darkgrey;
  }
}

.leftside{
  width: 25%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.rightside{
  width: 73%;
  float: left;
  height: 100%;
}

#landing, #explore, #floorplans {
  padding: 35px 70px;
      width: 100%;
  height: 100%;
}

:focus{
  box-shadow: none !important;
}
.btn.active{
  background-color: $blue !important;
  color: #fff;
}
#floorplans{
  .leftside{
    position: relative;
  }
  .rightside{
    width: 71%;
    float: right;
    margin-right: 25px;
  }
  #floorplanscontainer{
    width: 100%;
    display:block;
    position: absolute;
    top: 150px;
    .card-header{
      border:0;
      padding:0 !important;
    }
    .card-text{
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 22px;
      float: left;
      width: 100%;
      &.active{
        color: $blue;
      }
    }
    .card-body{
      /*background-color: $beige;*/
      background-color: #fff;
      max-height: 400px;
      overflow-y: scroll;

    }
    .btn-info{
      background-color: $blue;
      text-transform: uppercase;
      text-align: left;
      font-size: 27px;
      &.collapsed {
      color: #fff;
      background-color:$darkgrey;
      
      }
  }
    .btn-info:not(:disabled):not(.disabled):active{
      background-color: $blue;
      color: #fff;
      border:0;
    }
  }
}

.floorplanbg{
  background-color: rgba(35,31,32,0.07);
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px;
  img:first-child{
    height: 100%;
    width: auto;
max-width: 780px;
  }
  .model-detail{
    display: inline-block;
    // width: 35%;
    text-align: center;
    font-size: 21pt;
    border-top: 5px solid $blue;
    padding-top: 45px;
    margin-top: 45px;
    p{
      display: block;
      font-weight: bold;
      line-height: 1;
      &:first-child{
        font-size: 60px;
      }
      &:nth-last-of-type(2){
        margin-bottom: 5px;
        line-height: 1;
      }
    }
  }
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background:$darkgrey;
}
::-webkit-scrollbar-track {
  background: #ddd;
}
.markerToolTipInfoDiv{
  background-color: $beige;
  padding: 15px;
  border: 5px solid $darkgrey;
  border-radius: 15px;
  max-width: 400px;/*
  background: url('../../assets/img/tooltipbg.jpg');
  background-position: right right;
  background-repeat: no-repeat;
  */
  img{
    margin-bottom: 10px;
    max-width: 100%;
    &:last-of-type{
      position: absolute;
      right: -30px;
      width: 60px;
      bottom: 50px;
    }
  }
  p{
    padding-right: 20px;
  }
  h3{
    color: $red;
    font-weight: bold;
    text-transform: uppercase;
  }
}