<template>
  <div id="explore">
    <div class="leftside">
      <router-link to="/">
        <b-img src="../assets/img/playgrounds.svg" width="270" fluid left/>
      </router-link>
      <br>
      <h1>TOUCH BELOW
        <br>TO EXPLORE
        <br>PLAYGROUND</h1>
      <br>

        <div class="buttoncontainer">
        <div v-for="(amenity, index) in amenities" :key="amenity.id">
          <div v-if="amenity.title=='BUILDING AMENITIES'">
            <b class="buttontitle">BUILDING AMENITIES</b>
          </div> 
          
            <b-button-group v-else-if="amenity.group=='amenity'">
              <b-button size="lg" class="btn btn-grey" :key="amenity.variant" @click="showAmenity(amenity.id, index)" :class="{'active': activeItemId === index}" :id="amenity.caption">
                {{ amenity.caption }}
              </b-button>
            </b-button-group>

          <div v-if="amenity.title=='BUILDING FACADES'">
            <b class="buttontitle">BUILDING FACADES</b>
          </div> 
          
            <b-button-group v-else-if="amenity.group=='facade'">
              <b-button size="lg" class="btn btn-grey" :key="amenity.variant" @click="showAmenity(amenity.id, index)" :class="{'active': activeItemId === index}" :id="amenity.caption">
                {{ amenity.caption }}
              </b-button>
            </b-button-group>
          </div>           
        </div>
      <br>
      <br>
      <b-img src="../assets/img/builders.svg" fluid right width="400" />
    </div>
    <div class="rightside">
			<div id="buildingamenities">
					<div>
										      <b-img src="../assets/img/takemeforaspin.svg" center right width="150" style="position: absolute; top:0; right:0;z-index:999999" @click="takemeforaspin()"/>

						<div id="buildinghighlight">
							<b-img src="../assets/img/rooftop-highlight.jpg" center right width="1270"/>
							<b-img src="../assets/img/gym-highlight.jpg" center right width="1270"/>
							<b-img src="../assets/img/pool-highlight.jpg" center right width="1270"/>
							<b-img src="../assets/img/kidsplayroom-highlight.jpg" center right width="1270"/>
							<b-img src="../assets/img/partyroom-highlight.jpg" center right width="1270"/>
							<b-img src="../assets/img/lobby-highlight.jpg" center right width="1270"/>
						</div>
						
					</div>
			</div>
      <div id="myDiv" style="width:1270px; height:1010px;margin: 0 auto"></div>
	
	<!-- start viewer, display:none is added in case that js is disabled! -->
	<div id="viewerPlaylist" style="display:none;">
	
		<!-- palylist (adding images) -->
		<div data-paylist="" >
			<!--set 1-->
			<div>
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0000.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0000.jpg"></li>
				</ul>
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0008.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0008.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0016.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0016.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0024.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0024.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0032.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0032.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0040.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0040.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0048.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0048.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0056.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0056.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0064.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0064.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0072.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0072.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0080.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0080.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0088.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0088.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0096.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0096.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0104.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0104.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0112.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0112.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0112.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0112.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0120.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0120.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0128.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0128.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0136.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0136.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0144.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0144.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0152.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0152.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0160.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0160.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0168.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0168.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0176.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0176.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0184.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0184.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0192.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0192.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0200.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0200.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0208.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0208.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0216.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0216.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0224.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0224.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0232.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0232.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0240.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0240.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0248.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0248.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0256.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0256.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0264.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0264.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0272.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0272.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0280.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0280.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0288.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0288.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam01-0296.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0296.jpg"></li>
				</ul>	

				<ul>
					<li data-small-image-path="static/playground/small/cam01-0304.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0304.jpg"></li>
				</ul>

				<ul>
					<li data-small-image-path="static/playground/small/cam01-0312.jpg"></li>
					<li data-large-image-path="static/playground/large/cam01-0312.jpg"></li>
				</ul>
			</div>

			<!--set 2-->
			<div>
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0000.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0000.jpg"></li>

				</ul>
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0008.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0008.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0016.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0016.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0024.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0024.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0032.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0032.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0040.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0040.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0048.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0048.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0056.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0056.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0064.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0064.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0072.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0072.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0080.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0080.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0088.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0088.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0096.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0096.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0104.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0104.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0112.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0112.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0112.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0112.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0120.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0120.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0128.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0128.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0136.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0136.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0144.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0144.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0152.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0152.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0160.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0160.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0168.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0168.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0176.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0176.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0184.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0184.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0192.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0192.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0200.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0200.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0208.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0208.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0216.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0216.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0224.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0224.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0232.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0232.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0240.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0240.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0248.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0248.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0256.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0256.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0264.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0264.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0272.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0272.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0280.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0280.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0288.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0288.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam02-0296.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0296.jpg"></li>
				</ul>	

				<ul>
					<li data-small-image-path="static/playground/small/cam02-0304.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0304.jpg"></li>
				</ul>

				<ul>
					<li data-small-image-path="static/playground/small/cam02-0312.jpg"></li>
					<li data-large-image-path="static/playground/large/cam02-0312.jpg"></li>
				</ul>
			</div>

			<!--set 3-->
			<div>
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0000.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0000.jpg"></li>

				</ul>
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0008.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0008.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0016.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0016.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0024.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0024.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0032.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0032.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0040.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0040.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0048.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0048.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0056.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0056.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0064.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0064.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0072.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0072.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0080.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0080.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0088.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0088.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0096.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0096.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0104.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0104.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0112.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0112.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0112.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0112.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0120.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0120.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0128.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0128.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0136.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0136.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0144.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0144.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0152.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0152.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0160.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0160.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0168.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0168.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0176.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0176.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0184.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0184.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0192.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0192.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0200.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0200.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0208.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0208.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0216.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0216.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0224.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0224.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0232.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0232.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0240.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0240.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0248.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0248.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0256.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0256.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0264.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0264.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0272.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0272.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0280.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0280.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0288.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0288.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam03-0296.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0296.jpg"></li>
				</ul>	

				<ul>
					<li data-small-image-path="static/playground/small/cam03-0304.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0304.jpg"></li>
				</ul>

				<ul>
					<li data-small-image-path="static/playground/small/cam03-0312.jpg"></li>
					<li data-large-image-path="static/playground/large/cam03-0312.jpg"></li>
				</ul>
			</div>

			<!--set 4-->
			<div>
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0000.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0000.jpg"></li>

				</ul>
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0008.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0008.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0016.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0016.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0024.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0024.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0032.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0032.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0040.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0040.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0048.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0048.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0056.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0056.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0064.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0064.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0072.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0072.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0080.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0080.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0088.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0088.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0096.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0096.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0104.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0104.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0112.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0112.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0112.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0112.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0120.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0120.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0128.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0128.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0136.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0136.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0144.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0144.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0152.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0152.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0160.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0160.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0168.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0168.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0176.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0176.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0184.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0184.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0192.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0192.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0200.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0200.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0208.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0208.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0216.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0216.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0224.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0224.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0232.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0232.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0240.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0240.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0248.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0248.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0256.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0256.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0264.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0264.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0272.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0272.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0280.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0280.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0288.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0288.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam04-0296.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0296.jpg"></li>
				</ul>	

				<ul>
					<li data-small-image-path="static/playground/small/cam04-0304.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0304.jpg"></li>
				</ul>

				<ul>
					<li data-small-image-path="static/playground/small/cam04-0312.jpg"></li>
					<li data-large-image-path="static/playground/large/cam04-0312.jpg"></li>
				</ul>
			</div>

			<!--set 5-->
			<div>
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0000.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0000.jpg"></li>
				</ul>
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0008.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0008.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0016.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0016.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0024.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0024.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0032.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0032.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0040.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0040.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0048.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0048.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0056.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0056.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0064.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0064.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0072.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0072.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0080.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0080.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0088.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0088.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0096.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0096.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0104.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0104.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0112.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0112.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0112.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0112.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0120.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0120.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0128.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0128.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0136.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0136.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0144.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0144.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0152.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0152.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0160.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0160.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0168.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0168.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0176.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0176.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0184.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0184.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0192.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0192.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0200.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0200.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0208.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0208.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0216.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0216.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0224.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0224.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0232.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0232.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0240.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0240.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0248.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0248.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0256.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0256.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0264.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0264.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0272.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0272.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0280.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0280.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0288.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0288.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam05-0296.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0296.jpg"></li>
				</ul>	

				<ul>
					<li data-small-image-path="static/playground/small/cam05-0304.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0304.jpg"></li>
				</ul>

				<ul>
					<li data-small-image-path="static/playground/small/cam05-0312.jpg"></li>
					<li data-large-image-path="static/playground/large/cam05-0312.jpg"></li>
				</ul>
			</div>		

			<!--set 6-->
			<div>
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0000.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0000.jpg"></li>
				</ul>
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0008.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0008.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0016.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0016.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0024.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0024.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0032.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0032.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0040.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0040.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0048.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0048.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0056.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0056.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0064.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0064.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0072.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0072.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0080.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0080.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0088.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0088.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0096.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0096.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0104.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0104.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0112.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0112.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0112.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0112.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0120.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0120.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0128.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0128.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0136.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0136.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0144.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0144.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0152.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0152.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0160.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0160.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0168.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0168.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0176.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0176.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0184.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0184.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0192.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0192.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0200.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0200.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0208.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0208.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0216.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0216.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0224.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0224.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0232.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0232.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0240.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0240.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0248.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0248.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0256.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0256.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0264.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0264.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0272.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0272.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0280.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0280.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0288.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0288.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam06-0296.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0296.jpg"></li>
				</ul>	

				<ul>
					<li data-small-image-path="static/playground/small/cam06-0304.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0304.jpg"></li>
				</ul>

				<ul>
					<li data-small-image-path="static/playground/small/cam06-0312.jpg"></li>
					<li data-large-image-path="static/playground/large/cam06-0312.jpg"></li>
				</ul>
			</div>		

			<!--set 7-->
			<div>
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0000.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0000.jpg"></li>
				</ul>
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0008.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0008.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0016.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0016.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0024.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0024.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0032.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0032.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0040.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0040.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0048.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0048.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0056.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0056.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0064.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0064.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0072.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0072.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0080.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0080.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0088.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0088.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0096.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0096.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0104.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0104.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0112.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0112.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0112.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0112.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0120.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0120.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0128.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0128.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0136.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0136.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0144.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0144.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0152.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0152.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0160.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0160.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0168.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0168.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0176.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0176.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0184.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0184.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0192.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0192.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0200.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0200.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0208.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0208.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0216.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0216.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0224.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0224.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0232.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0232.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0240.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0240.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0248.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0248.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0256.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0256.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0264.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0264.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0272.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0272.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0280.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0280.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0288.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0288.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam07-0296.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0296.jpg"></li>
				</ul>	

				<ul>
					<li data-small-image-path="static/playground/small/cam07-0304.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0304.jpg"></li>
				</ul>

				<ul>
					<li data-small-image-path="static/playground/small/cam07-0312.jpg"></li>
					<li data-large-image-path="static/playground/large/cam07-0312.jpg"></li>
				</ul>
			</div>

			<!--set 8-->
			<div>
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0000.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0000.jpg"></li>
				</ul>
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0008.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0008.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0016.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0016.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0024.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0024.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0032.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0032.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0040.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0040.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0048.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0048.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0056.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0056.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0064.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0064.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0072.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0072.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0080.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0080.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0088.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0088.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0096.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0096.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0104.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0104.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0112.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0112.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0112.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0112.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0120.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0120.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0128.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0128.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0136.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0136.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0144.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0144.jpg"></li>

				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0152.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0152.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0160.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0160.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0168.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0168.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0176.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0176.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0184.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0184.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0192.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0192.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0200.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0200.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0208.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0208.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0216.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0216.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0224.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0224.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0232.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0232.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0240.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0240.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0248.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0248.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0256.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0256.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0264.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0264.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0272.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0272.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0280.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0280.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0288.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0288.jpg"></li>
				</ul>	
				
				<ul>
					<li data-small-image-path="static/playground/small/cam08-0296.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0296.jpg"></li>
				</ul>	

				<ul>
					<li data-small-image-path="static/playground/small/cam08-0304.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0304.jpg"></li>
				</ul>

				<ul>
					<li data-small-image-path="static/playground/small/cam08-0312.jpg"></li>
					<li data-large-image-path="static/playground/large/cam08-0312.jpg"></li>
				</ul>
			</div>										
		</div>
	</div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Explorepage',
    data() {
      return {
        activeItemId: '',
				activeAmenity: '',
				activeamenity: false,
        amenities: [
          {title: "BUILDING AMENITIES"},
          /*{id: 1, caption: 'ARCHITECTURE', group: 'amenity'},*/
          {id: 1, caption: 'ROOFTOP PATIO',group: 'amenity'},
          {id: 2, caption: 'THE GYM',group: 'amenity'},
          {id: 3, caption: 'OUTDOOR POOL',group: 'amenity'},
          {id: 4, caption: 'KIDS PLAY ROOM',group: 'amenity'},
          {id: 5, caption: 'PARTY ROOM',group: 'amenity'},
          {id: 6, caption: 'THE LOBBY',group: 'amenity'},
          {title: "BUILDING FACADES"},
          {id: 7, caption: 'NORTH FACING',group: 'facade'},
          {id: 8, caption: 'SOUTH FACING',group: 'facade'},
          {id: 9, caption: 'EAST FACING',group: 'facade'},
          {id: 10, caption: 'WEST FACING',group: 'facade'},
        ],
      }
    },
    methods:{
      showAmenity: function(id, index) {
							document.getElementById('ROOFTOP PATIO').classList.remove('active');

				this.activeItemId = index;
				document.getElementById('myDiv').style.display = "none";
				document.getElementById('buildingamenities').style.display = "block";

document.getElementById('buildingamenities').getElementsByTagName('img')[1].style.display = "none";
document.getElementById('buildingamenities').getElementsByTagName('img')[2].style.display = "none";
document.getElementById('buildingamenities').getElementsByTagName('img')[3].style.display = "none";
document.getElementById('buildingamenities').getElementsByTagName('img')[4].style.display = "none";
document.getElementById('buildingamenities').getElementsByTagName('img')[5].style.display = "none";
document.getElementById('buildingamenities').getElementsByTagName('img')[6].style.display = "none";
				document.getElementById('buildingamenities').getElementsByTagName('img')[index].style.display = "block";
			},
			takemeforaspin: function(){
					document.getElementById('myDiv').style.display = "block";
					document.getElementById('buildingamenities').style.display = "none";			
					}
    },
    mounted(){
			document.getElementById('ROOFTOP PATIO').classList.add('active');
      var viewer;
  
      setupViewer();
      addButtonsEvents();
      		
    function setupViewer(){
      	FWDViewer.setPrototype();
			viewer =  new FWDViewer({
				//----main----//
				divHolderId:"myDiv",
				skinPath:"static/skins/skin_minimal_dark",
				playListId:"viewerPlaylist",
				displayType:"responsive",
				preloaderText:"",
				startDraggingMode:"rotate",
				showLargeImageVersionOnZoom:"yes",
				useEntireScreenFor3dObject:"yes",
				stopRotationHorizontalAtEnds:"no",
				stopRotationVerticalAtEnds:"yes",
				addCorrectionForWebKit:"yes",
				addDragAndSpinSupport:"yes",
				disableMouseWheelZoom:"no",
				autoScale:"yes",
				startAtImage:0,
				startAtSet:0,
				viewerWidth:1270,
				viewerHeight:1010,
				imageWidth:1270,
				imageHeight:1010,
				zoomFactor:2,
				zoomSpeed:0.1,
				dragRotationSpeed:1,
				dragAndSpinSpeed:1,
				buttonsRotationSpeed:300,
				slideShowDelay:0,
				backgroundColor:"#FFFFFF",
				preloaderFontColor:"#585858",
				preloaderBackgroundColor:"#FFFFFF",
				//----lightbox-----//
				lightBoxWidth:800,
				lightBoxHeight:550,
				lightBoxBackgroundOpacity:.8,
				lightBoxBackgroundColor:"#000000",
				//----controller----//
				buttons:"rotate, pan, roteteleft, rotateright, scrollbar, play",
				/*buttons: "",*/
				buttonsToolTips:"Rotate, Move/Pan, Rotate left, Rotate right, Zoom level: , Play/Pause",
				controllerHorizontalPosition:"center",
				controllerVerticalPosition:"bottom",
				inverseNextAndPrevRotation:"yes",
				addKeyboardSupport:"yes",
				slideShowAutoPlay:"no",
				startSpaceBetweenButtons:10,
				spaceBetweenButtons:10,
				startSpaceForScrollBarButtons:20,
				startSpaceForScrollBar:6,
				hideControllerDelay:0,
				controllerMaxWidth:900,
				controllerBackgroundOpacity:1,
				controllerOffsetY:0,
				scrollBarOffsetX:0,
				scrollBarHandlerToolTipOffsetY:4,
				zoomInAndOutToolTipOffsetY:-4,
				buttonsToolTipOffsetY:0,
				link:"http://www.google.com",
				buttonToolTipFontColor:"#585858",
				//----navigator----//
				showNavigator:"yes",
				navigatorPosition:"topright",
				navigatorWidth:120,
				navigatorOffsetX:6,
				navigatorOffsetY:6,
				navigatorHandlerColor:"#FF0000",
				navigatorBorderColor:"#AAAAAA",
				//----info window----//
				infoWindowBackgroundOpacity:.6,
				infoWindowBackgroundColor:"#ede9e3",
				infoWindowScrollBarColor:"#585858",
				//----markers-----//
				showMarkersInfo:"no",
				markerToolTipOffsetY:2,
				toolTipWindowMaxWidth:500,
				//----context menu----//
				showScriptDeveloper:"yes",
				contextMenuLabels:"Rotate, Move/Pan, Rotate left, Rotate right, Zoom in/Zoom out, Play/Pause, Info, Custom link, Full screen/Normal screen",
				contextMenuBackgroundColor:"#d1cfcf",
				contextMenuBorderColor:"#8f8d8d",
				contextMenuSpacerColor:"#acacac",
				contextMenuItemNormalColor:"#585858",
				contextMenuItemSelectedColor:"#FFFFFF",
				contextMenuItemDisabledColor:"#b7b4b4",

				

			});
			viewer.addListener(FWDViewer.All_IMAGES_LOADED, allImagesLoadedHandler);

		}
		
				function allImagesLoadedHandler(){
			console.log("all loaded");
}

    function addButtonsEvents(){			
				document.getElementById("NORTH FACING").addEventListener("click", northfacing);
        document.getElementById("SOUTH FACING").addEventListener("click", southfacing);
        document.getElementById("EAST FACING").addEventListener("click", eastfacing);
        document.getElementById("WEST FACING").addEventListener("click", westfacing);
    }
		function southfacing(e){
			document.getElementById('myDiv').style.display = "block";
			document.getElementById('buildingamenities').style.display = "none";
			if(e.preventDefault) e.preventDefault();
			
			viewer.playToImage(25, "callBackPlayToImageFunction");
    }
    		function westfacing(e){
					document.getElementById('myDiv').style.display = "block";
								document.getElementById('buildingamenities').style.display = "none";

			if(e.preventDefault) e.preventDefault();
			viewer.playToImage(14, "callBackPlayToImageFunction");
    }
        		function eastfacing(e){
document.getElementById('myDiv').style.display = "block";		
			document.getElementById('buildingamenities').style.display = "none";

	if(e.preventDefault) e.preventDefault();
			viewer.playToImage(34, "callBackPlayToImageFunction");
    }
		function northfacing(e){
document.getElementById('myDiv').style.display = "block";
			document.getElementById('buildingamenities').style.display = "none";

			if(e.preventDefault) e.preventDefault();
			viewer.playToImage(2, "callBackPlayToImageFunction");
		}	
	
		function callBackPlayToImageFunction(){
			console.log('done');
		}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1 {
    font-style: italic;
    font-size: 40px;
    line-height: 1.1;
  }

  .leftside {
    align-items: left !important;
    justify-content: space-between !important;
  }
/*
  .btn {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    border: none;
  }

  .btn-group-vertical {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-right: 5px;
  }

  .buttoncontainer {
    display: flex;
      flex-wrap: wrap;

  }*/

  .buttontitle {
    font-size: 14.44pt;
    margin-bottom: 15px;
  }

.buttoncontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.buttoncontainer button {
  width: 100%;
  margin-right: 5px;
  margin-bottom: 5px;
}
.buttoncontainer .btn-group{
  display: initial;
}
.btn-group .btn + .btn{
  margin-left: 0px !important;
}

.buttoncontainer>div{
  float: left;
  width: calc(50% - 5px);
  margin-right: 5px;
}

.buttoncontainer >div:first-of-type, .buttoncontainer >div:nth-child(8){
  margin-bottom:10px;
  width: 100%;
}
.buttoncontainer >div:nth-child(8){
margin-top: 30px;
}

#buildingamenities{
	position: absolute;
	width: 1270px;
	height: 1010px;
	z-index: 999999;
}
/* #buildingamenities div{
	position: absolute;
    width: 1270px;
		height: 1010px;
		display: none;
}
#buildingamenities div.activeamenity{
		display: block;
} */

#myDiv{
	position: absolute;
}
#buildinghighlight{
	position: relative;
}
#buildinghighlight img{
	position: absolute;
	top:0;
	left: 0;
}
#buildinghighlight img:not(:first-of-type){
	display: none;
}
</style>
