<template>
  <div id="floorplans">
    <div class="leftside">
      <router-link to="/">
        <b-img src="../assets/img/playgrounds.svg" width="270" fluid left/>
      </router-link>
      <div role="tablist" id="floorplanscontainer">
                <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-btn block href="#" v-b-toggle.accordion1 variant="info">1 BEDROOM</b-btn>
          </b-card-header>
          <b-collapse id="accordion1" visible accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <p class="card-text" v-for="(model, index) in models" v-if="model.type=='1B'" :key=model.id @click="showmodel(model.id, index)" :class="{'active': activeItemId === index}"  >
                <span class="float-left">{{model.name}}</span><span class="float-right">{{model.size}} SQ.FT.</span>
                </p>            </b-card-body>
          </b-collapse>
        </b-card>
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-btn block href="#" v-b-toggle.accordion2 variant="info">1 bedroom + DEN</b-btn>
          </b-card-header>
          <b-collapse id="accordion2" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <p class="card-text" v-for="(model, index) in models" v-if="model.type=='1B+D'" :key=model.id @click="showmodel(model.id, index)" :class="{'active': activeItemId === index}"  >
                {{model.name}}
                </p>            </b-card-body>
          </b-collapse>
        </b-card>
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-btn block href="#" v-b-toggle.accordion3 variant="info">2 BEDROOM</b-btn>
          </b-card-header>
          <b-collapse id="accordion3" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <p class="card-text" v-for="(model, index) in models" v-if="model.type=='2B'" :key=model.id @click="showmodel(model.id, index)" :class="{'active': activeItemId === index}"  >
                {{model.name}}
                </p>            </b-card-body>
          </b-collapse>
        </b-card>
        <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-btn block href="#" v-b-toggle.accordion4 variant="info">2 BEDROOM + DEN</b-btn>
          </b-card-header>
          <b-collapse id="accordion4" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <p class="card-text" v-for="(model, index) in models" v-if="model.type=='2B+D'" :key=model.id @click="showmodel(model.id, index)" :class="{'active': activeItemId === index}"  >
                {{model.name}}
                </p>
            </b-card-body>
          </b-collapse>
        </b-card>
                <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-btn block href="#" v-b-toggle.accordion5 variant="info">STUDIO</b-btn>
          </b-card-header>
          <b-collapse id="accordion5" accordion="my-accordion" role="tabpanel">
            <b-card-body>
              <p class="card-text" v-for="(model, index) in models" v-if="model.type=='STUDIO'" :key=model.id @click="showmodel(model.id, index)" :class="{'active': activeItemId === index}"  >
                {{model.name}}
                </p>
            </b-card-body>
          </b-collapse>
        </b-card>
      </div>
      <br>
      <br>
      <b-img src="../assets/img/builders.svg" fluid right width="400" />
    </div>
    <div class="rightside">
      <div class="floorplanbg">
      <div style="width:65%;float:left; height: 100%"><b-img :src="selectedFloorplan"/></div>
    <div style="width: 35%; float: left; height: 100%;display: flex; justify-content: center; flex-direction: column; text-align:center;padding: 35px">
            <b-img :src="selectedKeyplate" style="width:100%;height: auto !important;"  />
      <div class="model-detail">
      <p> {{selectedModel}} </p>
      <br>
      <p> {{selectedSize}} SQ.FT.</p>
      <p> {{selectedType}}</p>
      
      </div>
    </div>
      
      </div>
      
      
      <!--
      <b-img :src="selectedHighlight" fluid right width="600" style="margin-top:-60px;" />
      -->
    </div>
  </div>
</template>

<script>

  export default {
    name: 'Floorplanspage',
    data() {
      return {
        selectedFloorplan: '',
        selectedModel: '',
        selectedSize: '',
        selectedType: '',
        activeItemId: '',
        selectedKeyplate: '',
        selectedHighlight: '',
        models: [
          {id: 1, name: 'A',type: '2B', size: 710, floorplan: 'A.svg'},
          {id: 2, name: 'AA', type: '1B+D', size: 723 , floorplan: 'aa.svg' },
          {id: 3, name: 'AA L2',type: '1B+D', size: 723, floorplan: 'aal2.svg'},
          {id: 4, name: 'A-T',type: '2B', size: 713, floorplan: 'at.svg'},
          {id: 5, name: 'A-T1',type: 'BB', size: 730, floorplan: 'at1.svg'},
          {id: 6, name: 'B',type: '1B+D', size: 618, floorplan: 'B.svg'},
          {id: 7, name: 'BB',type: '1B+D', size: 706, floorplan: 'bb.svg'},
          {id: 8, name: 'B-T',type: '1B+D', size: 601, floorplan: 'bt.svg'},
          {id: 9, name: 'C',type: '1B', size: 474, floorplan: 'C.svg'},
          {id: 10, name: 'CC',type: '2B+D', size: 975, floorplan: 'cc.svg'},
          {id: 11, name: 'C-T',type: '1B', size: 461, floorplan: 'ct.svg'},
          {id: 12, name: 'D',type: '1B', size: 551, floorplan: 'D.svg'},
          {id: 13, name: 'D L6',type: '1B', size: 537, floorplan: 'dl6.svg'},
          {id: 14, name: 'D-3',type: '1B', size: 528, floorplan: 'd3.svg'},
          {id: 15, name: 'DD',type: '1B+D', size: 651, floorplan: 'dd.svg'},
          {id: 16, name: 'D-T',type: '1B', size: 539, floorplan: 'dt.svg'},
          {id: 17, name: 'E',type: '1B+D', size: 592, floorplan: 'E.svg'},
          {id: 18, name: 'E L6',type: '1B', size: 581, floorplan: 'el6.svg'},
          {id: 19, name: 'E L7', type: '1B', size: 590, floorplan: 'el7.svg'},
          {id: 20, name: 'EE',type: '2B+D', size: 823, floorplan: 'ee.svg'},
          {id: 21, name: 'E-T',type: '1B', size: 581, floorplan: 'et.svg'},
          {id: 22, name: 'F',type: '1B', size: 467, floorplan: 'F.svg'},
          {id: 23, name: 'FF',type: '2B+D', size: 835, floorplan: 'ff.svg'},
          {id: 24, name: 'FF L3',type: '2B+D', size: 835, floorplan: 'ffl3.svg'},
          {id: 25, name: 'F-T',type: '1B', size: 475, floorplan: 'ft.svg'},
          {id: 26, name: 'G',type: '2B+D', size: 752, floorplan: 'G.svg'},
          {id: 27, name: 'GG',type: '1B+D', size: 707, floorplan: 'gg.svg'},
          {id: 28, name: 'H',type: 'STUDIO', size: 365, floorplan: 'H.svg'},
          {id: 29, name: 'HH',type: '2B', size: 739, floorplan: 'hh.svg'},
          {id: 30, name: 'HH L03',type: '2B', size: 739, floorplan: 'hhl03.svg'},
          {id: 31, name: 'I',type: '1B', size: 601, floorplan: 'I.svg'},
          {id: 32, name: 'I L28',type: '1B', size: 601, floorplan: 'il28.svg'},
          {id: 33, name: 'I L29',type: '1B', size: 601, floorplan: 'il29.svg'},
          {id: 34, name: 'I L30',type: '1B', size: 601, floorplan: 'il30.svg'},
          {id: 35, name: 'I L31',type: '1B', size: 601, floorplan: 'il31.svg'},
          {id: 36, name: 'I L32', type: '1B', size: 601, floorplan: 'il32.svg'},
          {id: 37, name: 'I L6',type: '1B', size: 589, floorplan: 'il6.svg'},
          {id: 38, name: 'II',type: '1B', size: 457, floorplan: 'ii.svg'},
          {id: 39, name: 'J',type: '1B+D', size: 652, floorplan: 'J.svg'},
          {id: 40, name: 'J L6',type: '1B+D', size: 642, floorplan: 'jl6.svg'},
          {id: 41, name: 'J L7',type: '1B+D', size: 652, floorplan: 'jl7.svg'},
          {id: 42, name: 'JJ',type: '1B', size: 483, floorplan: 'jj.svg'},
          {id: 43, name: 'K',type: '2B+D', size: 868, floorplan: 'K.svg'},
          {id: 44, name: 'K L10',type: '2B+D', size: 865, floorplan: 'kl10.svg'},
          {id: 45, name: 'K L6',type: '2B+D', size: 812, floorplan: 'kl6.svg'},
          {id: 46, name: 'K L7',type: '2B+D', size: 841, floorplan: 'kl7.svg'},
          {id: 47, name: 'K L8',type: '2B+D', size: 857, floorplan: 'kl8.svg'},
          {id: 48, name: 'K L9',type: '2B+D', size: 864, floorplan: 'kl9.svg'},
          {id: 49, name: 'LL',type: '2B', size: 697, floorplan: 'LL.svg'},
          {id: 50, name: 'M',type: '2B', size: 787, floorplan: 'm.svg'},
          {id: 51, name: 'M-T',type: '2B', size: 809, floorplan: 'mt.svg'},
          {id: 52, name: 'N', type: '2B+D', size: 1021, floorplan: 'n.svg'},
          {id: 53, name: 'NN',type: '1B', size: 592, floorplan: 'nn.svg'},
          {id: 54, name: 'N-T',type: '2B+D', size: 1047, floorplan: 'nt.svg'},
          {id: 55, name: 'O',type: '2B', size: 864, floorplan: 'o.svg'},
          {id: 56, name: 'OO',type: '1B+D', size: 703, floorplan: 'oo.svg'},
          {id: 57, name: 'O-T',type: '2B', size: 864, floorplan: 'qt.svg'},
          {id: 58, name: 'PP',type: '2B', size: 921, floorplan: 'pp.svg'},
          {id: 59, name: 'PP-P',type: '2B', size: 929, floorplan: 'ppp.svg'},
          {id: 60, name: 'PP-T',type: '2B', size: 948, floorplan: 'ppt.svg'},
          {id: 61, name: 'QQ',type: '2B', size: 743, floorplan: 'qq.svg'},
          {id: 62, name: 'QQ-P',type: '2B+D', size: 833, floorplan: 'qqp.svg'},
          {id: 63, name: 'QQ-T',type: '2B', size: 755, floorplan: 'qqt.svg'},
          {id: 64, name: 'RR',type: '1B+D', size: 678, floorplan: 'rr.svg'},
          {id: 65, name: 'RR-P',type: '1B+D', size: 717, floorplan: 'rrp.svg'},
          {id: 66, name: 'RR-T',type: '1B+D', size: 690, floorplan: 'rrt.svg'},
          {id: 67, name: 'SS',type: '1B+D', size: 680, floorplan: 'SS.svg'},
          {id: 68, name: 'SS-P',type: '1B+D', size: 718, floorplan: 'ssp.svg'},
          {id: 69, name: 'SS-T',type: '1B+D', size: 691, floorplan: 'sst.svg'},
          {id: 70, name: 'TT',type: '1B+D', size: 687, floorplan: 'tt.svg'},
          {id: 71, name: 'TT-P',type: '1B+D', size: 723, floorplan: 'ttp.svg'},
          {id: 72, name: 'TT-T',type: '1B+D', size: 696, floorplan: 'ttt.svg'},
          {id: 73, name: 'UU',type: '1B+D', size: 693, floorplan: 'uu.svg'},
          {id: 74, name: 'UU-P',type: '1B+D', size: 737, floorplan: 'uup.svg'},
          {id: 75, name: 'UU-T',type: '1B+D', size: 702, floorplan: 'uut.svg'},
        ],
      }
    },
    mounted(){
      document.getElementById('accordion1').getElementsByClassName('card-text')[0].click();
      /*
      var model = this.models[0];
      var strModel = model.name.replace(/\s/g, '');

    this.selectedFloorplan= '/static/floorplans/'+strModel+'.svg';
    this.selectedKeyplate = '/static/keyplates/'+strModel+'.svg';
    this.selectedHighlight = '/static/highlight/'+strModel+'.svg';
  this.selectedModel= model.name;
  this.selectedSize= model.size;
    this.selectedType= model.type;

    */
    },
    methods: {
      showmodel: function (modelid, index) {
        var model = this.models[modelid-1];
        var strModel = model.name.replace(/\s|\-/g, '');
        console.log(modelid+' '+model.name);

        switch(model.type){
        case '1B':
          this.selectedType = "1 BEDROOM";
          break;
        case '1B+D':
          this.selectedType = "1 BEDROOM + DEN";
          break;
        case '2B':
          this.selectedType = "2 BEDROOM";
          break;
        case '2B+D':
          this.selectedType = "2 BEDROOM + DEN";
          break;
        }
        this.activeItemId = index;
        this.selectedFloorplan = 'static/floorplans/'+strModel+'.svg';
        this.selectedKeyplate = 'static/keyplates/'+strModel+'-keyplate.svg';
        this.selectedHighlight = 'static/highlights/'+strModel+'.svg';
        this.selectedModel = model.name;
        this.selectedSize = model.size;
      }
    }
  }

</script>


<style scoped>
  .leftside {
    align-items: left !important;
    justify-content: space-between !important;
  }
.rightside{
  display: flex;
  align-items: center;
}


  .buttontitle {
    font-size: 14.44pt;
    margin-bottom: 15px;
  }

  .buttoncontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .buttoncontainer button {
    width: 100%;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .buttoncontainer .btn-group {
    display: initial;
  }

  .btn-group .btn+.btn {
    margin-left: 0px !important;
  }

  .buttoncontainer>div {
    float: left;
    width: calc(50% - 5px);
    margin-right: 5px;
  }

  .buttoncontainer>div:first-of-type,
  .buttoncontainer>div:nth-child(9) {
    margin-bottom: 10px;
    width: 100%;
  }

  .buttoncontainer>div:nth-child(9) {
    margin-top: 30px;
  }

</style>
