<template>
  <div id="landing">
    <div class="leftside">
      <b-img src="../assets/img/playgrounds.svg" fluid />
      <br>
      <br>
      <br>
      <b-button size="lg" class="btn btn-blue" to="explore">EXPLORE THE BUILDING</b-button>
      <b-button size="lg" class="btn btn-blue" to="floorplans">VIEW THE FLOORPLANS</b-button>
      <br>
      <br>
      <br>      <br>
      <br>
      <br>      <br>
      <br>
      <br>
            <img src="../assets/img/landingpage-woman.jpg" fluid width="400" style="position: absolute; bottom:0;left:100px"/>

    </div>

    <div class="rightside" style="display:flex;justify-content: flex-end">
      <img src="../assets/img/landingpagebg.jpg" fluid width="1070" />
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Landing',
    data() {
      return {
        
      }
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .btn {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    font-size: 24.82pt !important;
  }

</style>
