<template>
  <div id="menu" v-if="['Landing'].indexOf($route.name) === -1">
    <router-link to="/explore"><div class="topmenu"><span> EXPLORE THE BUILDING </span></div></router-link>
    <router-link to="/floorplans"> <div class="bottommenu"><span>VIEW FLOOR PLANS</span> </div></router-link>
  </div>
</template>

<script>
export default {
  name: 'Menu',
  data () {
    return {
      msg: 'MENU'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>