<template>
  <div id="app">
    <router-view/>
      <app-menu/>
  </div>
</template>

<script>
  import Menu from '@/components/Menu'
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

export default {
  name: 'App',
        components: {
      'app-menu': Menu,
    }
}
</script>
<!--<style src="../static/css/main.scss" lang="scss"></style>-->
<style>
html {
  width: 1920px;
  height: 1080px;
}

h1 {
  color: #56565a;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  /* background-color: $beige;*/
  color: #56565a;
  background: #fff;
}

#app {
  height: 100%;
}

#menu {
  width: 3%;
  float: right;
}
#menu a.active > div {
  background-color: #00a1dc;
}
#menu a > div {
  position: absolute;
  height: 49.5%;
  width: 3%;
  color: white;
  font-size: 34px;
  line-height: 1.8;
  text-align: center;
  background-color: #56565a;
}
#menu .topmenu,
#menu .bottommenu {
  width: 3%;
  right: 0%;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  font-weight: bold;
  letter-spacing: 1px;
}
#menu .topmenu {
  top: 0%;
}
#menu .bottommenu {
  bottom: 0%;
}

#content {
  width: 97%;
  height: 100%;
  float: left;
}

.btn {
  -webkit-border-radius: 0px !important;;
  -moz-border-radius: 0px !important;;
  -ms-border-radius: 0px !important;;
  border-radius: 0px !important;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  font-weight: bold;
  border: none;
}
.btn a {
  color: #fff;
}
.btn.btn-blue {
  background-color: #00a1dc;
}
.btn.btn-grey {
  background-color: #56565a;
}

.leftside {
  width: 25%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.rightside {
  width: 73%;
  float: left;
  height: 100%;
}

#landing, #explore, #floorplans {
  padding: 35px 70px;
  width: 100%;
  height: 100%;
}

:focus {
  box-shadow: none !important;
}

.btn.active {
  background-color: #00a1dc !important;
  color: #fff;
}

#floorplans .leftside {
  position: relative;
}
#floorplans .rightside {
  width: 71%;
  float: right;
  margin-right: 25px;
}
#floorplans #floorplanscontainer {
  width: 100%;
  display: block;
  position: absolute;
  top: 150px;
}
#floorplans #floorplanscontainer .card-header {
  border: 0;
  padding: 0 !important;
}
#floorplans #floorplanscontainer .card-text {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 22px;
  float: left;
  width: 100%;
}
#floorplans #floorplanscontainer .card-text.active {
  color: #00a1dc;
}
#floorplans #floorplanscontainer .card-body {
  /*background-color: $beige;*/
  background-color: #fff;
  max-height: 400px;
  overflow-y: scroll;
}
#floorplans #floorplanscontainer .btn-info {
  background-color: #00a1dc;
  text-transform: uppercase;
  text-align: left;
  font-size: 27px;
}
#floorplans #floorplanscontainer .btn-info.collapsed {
  color: #fff;
  background-color: #56565a;
}
#floorplans #floorplanscontainer .btn-info:not(:disabled):not(.disabled):active {
  background-color: #00a1dc;
  color: #fff;
  border: 0;
}

.floorplanbg {
  background-color: rgba(35, 31, 32, 0.07);
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px;
}
.floorplanbg img:first-child {
  height: 100%;
  width: auto;
  max-width: 780px;
}
.floorplanbg .model-detail {
  display: inline-block;
  text-align: center;
  font-size: 21pt;
  border-top: 5px solid #00a1dc;
  padding-top: 45px;
  margin-top: 45px;
}
.floorplanbg .model-detail p {
  display: block;
  font-weight: bold;
  line-height: 1;
}
.floorplanbg .model-detail p:first-child {
  font-size: 60px;
}
.floorplanbg .model-detail p:nth-last-of-type(2) {
  margin-bottom: 5px;
  line-height: 1;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #56565a;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

.markerToolTipInfoDiv {
  background-color: #ede9e3;
  padding: 15px;
  border: 5px solid #56565a;
  border-radius: 15px;
  max-width: 400px;
                 /*
background: url('../../assets/img/tooltipbg.jpg');
background-position: right right;
background-repeat: no-repeat;
*/
}
.markerToolTipInfoDiv img {
  margin-bottom: 10px;
  max-width: 100%;
}
.markerToolTipInfoDiv img:last-of-type {
  position: absolute;
  right: -30px;
  width: 60px;
  bottom: 50px;
}
.markerToolTipInfoDiv p {
  padding-right: 20px;
}
.markerToolTipInfoDiv h3 {
  color: #eb1c2d;
  font-weight: bold;
  text-transform: uppercase;
}

</style>